dist
node_modules
.env
upload-service/node_modules
upload-service/.env
upload-service/dist
deploy-service/node_modules
deploy-service/.env
deploy-service/dist

handler-service/node_modules
handler-service/.env
handler-service/dist

metrics-service/node_modules
metrics-service/.env
metrics-service/dist